.header {
    display:flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo {
    width: 200px;

}
.nav-items> ul{
    font-size:48px;
    display:flex;
    padding:0px 20px;
    list-style-type: none;
}
.nav-items> ul > li{
    padding:10px;
    margin:10px
}